<div class="w3-bar w3-border w3-margin-top w3-light-grey w3-col s12 m12 l12" data-ng-if="paginatorArray && paginatorArray.length && pagination.pages > 1">

    <a href data-ng-click="goToPage(pagination.offset)" class="w3-bar-item w3-button" data-ng-if="pagination.offset > 0">&laquo;</a>
    <a href  data-ng-click="goToPage(p.number)" data-ng-repeat="p in $parent.paginatorArray" data-ng-class="{'w3-teal':((p.number-1)==pagination.offset)}" class="w3-bar-item w3-button">{{p.number}}</a>
    <a href  data-ng-click="goToPage(pagination.offset+2)" class="w3-bar-item w3-button" data-ng-if="pagination.offset+1 < pagination.pages">&raquo;</a>

</div>