/**
Estilos correspondientes al módulo team (Referente a los equipos)
 */

.team-positions
{
  .td.team
  {
    line-height: 130%;
    font-weight: 600;
    .team-shield
    {
      width: 30px;
      object-fit: contain;
      height: 30px;
      margin-right: 7px;
    }
  }

  .tr
  {
    @include grid-template(#{1fr 25% repeat(8,1fr)},"columns");
  }

  @media all and (max-width: 600px) {

    .tr{
      @include grid-template(#{1fr 35% repeat(4,1fr)},"columns")
    }
    .th,.td{
      &.gf,&.ga,&.draw,&.loses
      {
        display: none;
      }
    }

  }

  @media all and (max-width: 350px) {
    .tr{
      @include grid-template(#{1fr 35% repeat(2,1fr)},"columns");
    }

    .th,.td{
      &.gf,&.ga,&.draw,&.loses,&.played,&.won
      {
        display: none;
      }
    }
  }

  @media all and (max-width: 320px) {

    .team-shield
    {
      display: none;
    }
  }

}

