<style>
    .actions .action
    {
        cursor: pointer;
        margin-right: 10px;
    }
    .actions .action:last-child
    {
        margin-right: 0;
    }
    .actions .action i
    {
        font-size: 18px;
    }
</style>
<div class="w3-row">



    <h3 class="w3-container" >{{title | translate}}</h3>


    <div  data-ng-if="status == 'loaded' && (!rows || rows.length == 0)">

        <div class="w3-margin-left w3-border w3-margin-right w3-container w3-light-grey">
            <p >{{emptyText | translate}}</p>
        </div>

    </div>

    <!--
    <div data-ng-if="status == 'loading'">

        <div class="w3-margin-left w3-border w3-margin-right w3-panel w3-pale-green">
            <p >Cargando elementos</p>
        </div>


    </div>-->



    <div class="w3-row w3-container w3-margin-bottom">


            <div class="table-container"  data-ng-if="rows && rows.length">

                <table class="w3-table w3-striped w3-border w3-col s12 m12 l12 ">
                    <tr class="w3-black actions-header">
                        <th data-ng-repeat="th in headers">{{th | translate}}</th>
                        <th>
                            {{'Actions' | translate}}
                        </th>
                        <th>    <input style="position: static"  class="w3-left w3-check"  data-ng-model="select.all"  type="checkbox" ></th>

                    </tr>
                    <tr data-ng-repeat="row in rows">

                        <td data-ng-repeat="p in properties">{{row[p]}}</td>
                        <td class="actions">

                            <a class="action" data-ng-repeat="a in actions" data-ng-click="a.action(row)" title="{{a.title | translate}}">

                                <i class="w3-hover-text-teal" data-ng-class="a.icon"></i>
                            </a>

                        </td>
                        <td style="width: 30px">
                            <input data-ng-model="row._selected" style="position: static" class="w3-left w3-check" type="checkbox" >
                        </td>
                    </tr>
                </table>

            </div>


            <div class="w3-bar w3-border w3-margin-top w3-light-grey w3-col s12 m12 l12" >

                <paginator data-pagination="pagination" data-page="currentPage" data-offset="3"></paginator>

                <span class="w3-left w3-padding"><b>{{rows.length}}</b> de <b>{{pagination.total}}</b></span>

                <span class="w3-right ">
                     <ng-transclude></ng-transclude>
                </span>


            </div>

    </div>





</div>