
<form data-ng-submit="sendLogin()"  class="w3-row-padding">

    <field data-label="'Username'" class="w3-col s12 w3-margin-top" data-model="login.username"></field>


    <field data-input-type="'password'" data-label="'Password'" class="w3-col s12 w3-margin-top" data-model="login.password"></field>
    <div class="w3-bar w3-margin-top  w3-right-align  w3-col s12 m12 l12 w3-container">

        <button type="submit" class="w3-button w3-teal ">{{'Submit' | translate}}</button>
    </div>
</form>
