<form data-ng-submit="save()" class="w3-row-padding w3-container">



    <field class=" w3-margin-top w3-col  " data-validation-errors="validationErrors.title" data-label="'Title'" data-model="item.title"  ></field>

    <field class=" w3-margin-top w3-col "   data-validation-errors="validationErrors.body" data-input-type="'textarea'" data-label="'Text'"  data-model="item.body" ></field>




    <div class="w3-bar w3-margin-top  w3-right-align  w3-col ">

        <button type="button" class="w3-button w3-teal" data-ng-click="goToList()">
            {{'Cancel' | translate}}
        </button>
        <button type="{{(status == 'saving')?'button':'submit'}}"  class="w3-button w3-teal ">
            <span data-ng-if="status != 'saving'">{{'Accept' | translate}}</span>
            <span data-ng-if="status == 'saving'"><i class="w3-spin fas fa-spinner"></i></span>
        </button>
    </div>

</form>