
<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-show w3-animate-left w3-light-gray"  data-ng-style="{'left':(open)?0:'-350px'}" style="width:350px;transition: all 0.2s"  >

    <style>
        @media screen and (min-width:993px ) {

            .w3-sidebar
            {
                display: block!important;
                left: 0!important;
            }

        }
    </style>
    <button class="w3-bar-item w3-button w3-large w3-hide-large" data-ng-click="open=!open">&times;</button>


    <a data-ng-repeat="item in menuItems" href="#" class="w3-bar-item w3-button w3-padding-large"  data-ng-class="{'w3-dark-grey':item.active}" data-ng-href="{{item.href}}">{{item.text | translate}}</a>


</div>