
<table-data data-headers="headers"
            data-empty-text="emptyText"
            data-title="title"
            data-pagination="pagination"
            data-properties="properties"
            data-actions="actions"
            data-current-page="query.p"
            data-rows="rows">
        <a href="#" class="w3-bar-item w3-button w3-border-right">{{'Crear' | translate}}&nbsp;&nbsp;<i class="fas fa-file"></i></a>
        <a data-ng-click="openDeleteLightbox()" class="w3-bar-item w3-button w3-border-right" data-ng-if="getSelectedRows().length > 0">{{'Delete elements' | translate:{count:getSelectedRows().length} }}&nbsp;&nbsp;<i class="fas fa-trash"></i></a>
</table-data>



<lightbox data-opened="deleteLightbox">


    <header class="w3-container ">

        <span data-ng-click="closeDeleteLightbox()"
              class="w3-button w3-display-topright">&times;</span>
        <h4 data-ng-if="itemsToDelete.length == 1">{{'Confirm deletion' | translate}}</h4>
        <h4 data-ng-if="itemsToDelete.length > 1">{{'Confirm multiple deletion' | translate:{count:itemsToDelete.length} }}</h4>


    </header>

    <div class="w3-container w3-margin-top">
        <button class="w3-button w3-padding-small w3-teal w3-margin-bottom" data-ng-click="delete()">{{'Yes' | translate}}</button>

        <button data-ng-click="closeDeleteLightbox()" class="w3-button w3-padding-small w3-teal w3-margin-bottom">{{'No' | translate}}</button>

    </div>

</lightbox>
