<form data-ng-submit="save()">

    <div class="w3-container w3-margin-top">
        <field data-label="'Name'" data-model="item.name"  ></field>
    </div>

    <div class="w3-container w3-margin-top">
        <related-items data-label="'Players'" data-model="item._related.players" data-module="'person'" >

            {{item}}
            <span class="key">{{'Name' | translate}}</span>
            <span class="value">{{item.name}}</span>


            <span class="key">{{'Surname' | translate}}</span>
            <span class="value">{{item.surname}}</span>

        </related-items>
    </div>



    <div class="w3-bar w3-margin-top  w3-right-align  w3-col s12 m12 l12 w3-container">

        <button type="button" class="w3-button w3-teal" data-ng-click="goToList()">{{'Cancel' | translate}}</button>
        <button type="submit" class="w3-button w3-teal ">{{'Accept' | translate}}</button>
    </div>

</form>