<form data-ng-submit="save()">

    <div class="w3-container w3-margin-top">
        <field data-label="'Name'" data-model="item.name"  ></field>
    </div>

    <div class="w3-margin-top">
        <related-items data-label="'Players'" data-model="item._related.players" data-module="'person'" >

            <div class="w3-card-2 w3-light-grey w3-col s12 w3-padding w3-margin-bottom">
                <span data-ng-click="$parent.model.splice($parent.k,1)" class="delete w3-right"><i class="fas fa-trash"></i></span>
                <span class="move w3-left w3-margin-bottom"><i class="fas fa-arrows-alt"></i></span>

                <span class="key w3-col s12 "><b>{{'Name' | translate}}</b></span>
                <span class="value   w3-col s12">{{$parent.item.name}}</span>

                <span class="key  w3-col s12 w3-margin-top"><b>{{'Surname' | translate}}</b></span>
                <span class="value  w3-col s12">{{$parent.item.surname}}</span>

            </div>

        </related-items>
    </div>



    <div class="w3-bar w3-margin-top  w3-right-align  w3-col s12 m12 l12 w3-container">

        <button type="button" class="w3-button w3-teal" data-ng-click="goToList()">{{'Cancel' | translate}}</button>
        <button type="submit" class="w3-button w3-teal ">{{'Accept' | translate}}</button>
    </div>

</form>