@import "utils";
@import "menu";



//Default font
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');

body{
  font-family: 'Raleway', sans-serif;

}

$posts-gap:15px;
$post-gap:20px;
$post-color:white;

body > header
{
  grid-column: 1 / span 2;
}


body
{
  &.news{
    @include grid(2.5fr 1fr,false, $posts-gap);
  }
}
.main-post-list
{

  &
  {

    @include grid(repeat(3,1fr),false,$posts-gap);
  }
  .post > .title
  {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 2.5em;
    color: $post-color;
    font-weight: 600;
  }
  .post
  {
    grid-gap: $post-gap;

  }
  .post > .subtitle
  {
    margin-left: $post-gap;
    margin-right: $post-gap;
    margin-bottom: $post-gap;
  }
}
.main-post-list .post:nth-child(1)
{
  & > .title
  {

    @include grid-row(2);
    @include grid-column(1 / span 3);
    z-index:1;

  }
  & > .subtitle{
    color: $post-color;
    line-height: 1.7em;
    font-weight: 600;
    @include grid-column(1 / span 3);
    @include grid-row(3);
    z-index:1;

  }

  &  > .media
  {
    @include grid-column(1 / span 3);
    @include grid-row(1 / span 3);
  }

  &{
    @include grid-row(1 / span 2);
    @include grid-column(1/span 2);
    @include display-grid();
    @include grid-template(1fr auto auto,'rows');
    @include grid-template(repeat(3,1fr),'columns');
  }

}

.main-post-list .post > .media > img
{
height: 100%;
}


.main-post-list .post:not(:nth-child(1))
{
  &{
    @include display-grid();
    @include grid-template(1fr auto,'rows');
  }

  &  > .media
  {
    @include grid-column(1 / span 3);
    @include grid-row(1 / span 3);
  }



  & > .title
  {

    line-height: 1.3em;
    font-size: 150%;
    @include grid-row(2);
    @include grid-column(1 / span 3);
    z-index:1;
  }
  & > .subtitle
  {
    display: none;
  }


}


.post-list
{
  @include grid(repeat(3,1fr),false,$posts-gap);
}

.post-list .post .media
{
height: 180px;
}
.post-list .post .media > *
{
  height: 100%;
}