@import "utils";
@import "menu";

$posts-gap:1.5%;
body > header
{
  grid-column: 1 / span 2;
}

body
{
  &.news{
    @include grid(2.5fr 1fr,false, $posts-gap);
  }
}
.main-post-list
{
  @include grid(2.5fr 1fr,false,$posts-gap);

}
.main-post-list .post:nth-child(1)
{
  @include grid-row(1 / span 2);
}
.main-post-list .post:nth-child(3)
{
  @include grid-column(2);
}


.post-list
{
  @include grid(repeat(3,1fr),false,$posts-gap);
}

.post-list .post .media
{
height: 180px;
}
.post-list .post .media > *
{
  height: 100%;
}