@import "utils";
@import "responsive";

@media all and (min-width:1025px) {
  @include grid(12, 'l', 1%,6);
}

@media all and (max-width: 1024px) and (min-width: 769px) {
  @include grid(12, 'm', 1%,6);
}

@media all and (max-width: 768px) and (min-width: 602px) {
  @include grid(12, 's', 1%,4);

}

@media all and (max-width: 601px) {
  @include grid(12, 'xs', 1%,3);
}

$color-a:#3F51B5;
$color-b:white;
$color-c:#EEEEEE;

$font-size-a:20;

$padding-a:20;

$line-height-a:25;

$main-menu-height:70;

$shadow-a:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

body,html
{
  height: 100%;
}

body > header
{
  height: auto;
}

body > main
{
  height: inherit;
}

.main-menu
{
  box-shadow: $shadow-a;
  background-color: $color-a;
  height: #{$main-menu-height}px;
}
.main-menu  .menu-item
{
  cursor: pointer;
  height: 100%;
  padding-left:#{$padding-a}px;
  padding-right:#{$padding-a}px;
  margin-right: auto;
  align-items: center;
  color: $color-b;
  @include display-flex();
  float: left;
}

.main-menu .menu-item.logo > img
{

  width: 30px;

}
.post-list .post{
  background-color: $color-c;
}
.post-list .post .title
{
  font-weight: 600;
  font-size: #{$font-size-a}px;
  padding: #{$padding-a}px;
  line-height: #{$line-height-a}px;
}


.post-list .post .subtitle
 {
  line-height: #{$line-height-a}px;
  order: 3;
  padding: #{$padding-a}px;
 }