@import "prefixes";
//Default font
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');

body{
  font-family: 'Raleway', sans-serif;

}


@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}
@mixin grid($columns,$rows,$gap)
{

  @include display-grid();
  grid-gap: $gap;

  @if($columns)
  {
    @include grid-template($columns,'columns');
  }

  @if ($rows)
  {
    @include grid-template($rows,'rows');
  }


}



.flex
{
  @include display-flex();
  @include flex-wrap(wrap);

}

.image
{
  width: 100%;
  object-fit: cover;
}
.block
{
  float: left;
  display:block;
}
