<h2  class="w3-large w3-margin-top w3-col s12" ><b>{{'Search box' | translate}}</b></h2>


<field class="w3-col s10 m5" data-placeholder="'Location_Work'" data-model="query.filter.location_work"  ></field>

<field class="w3-col s10 m5" data-placeholder="'Name'" data-model="query.filter.name"  ></field>

<button type="submit"  class="w3-button w3-teal ">
    <i class="fas fa-search"></i>
</button>
<button type="button" data-ng-click="query.filter = {};read();"  class="w3-button w3-teal ">
    <i class="fas fa-undo"></i>
</button>